{% extends 'base.html' %}
{% block body %}

<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="/static\images\banners\15.jpg" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="./store/" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular Destinations</h3>
</header><!-- sect-heading -->


<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href = "/store/manila/manila-hotel/" class="img-wrap"> <img src="/static/images/items/man 1.jpg"> </a>
			<figcaption class="info-wrap"> 
				<a href="/store/manila/manila-hotel/" class="title">Hotel Manila</a>
				
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/manila/manila-hotel-2/" class="img-wrap"> <img src="/static/images/items/man 2.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/manila/manila-hotel-2/" class="title">Hotel Manila 2</a>
				
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/panama/panama-hotel/" class="img-wrap"> <img src="/static/images/items/pan1.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/panama/panama-hotel/" class="title">Hotel Panama</a>
			
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/panama/panama-hotel-2/" class="img-wrap"> <img src="/static/images/items/pan2.jgp.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/panama/panama-hotel-2/" class="title">Hotel Panama 2</a>
				
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/singapore/sin-2/" class="img-wrap"> <img src="/static/images/items/sin1.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/singapore/sin-2/" class="title">Hotel Singapore</a>
				
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/singapore/sin/" class="img-wrap"> <img src="/static/images/items/sin2.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/singapore/sin/" class="title">Hotel Singapore</a>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/taiwan/tai-hotel/"  class="img-wrap"> <img src="/static/images/items/tai1.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/taiwan/tai-hotel/" class="title">Hotel Taiwan</a>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="/store/taiwan/tai-hotel-2/"  class="img-wrap"> <img src="/static/images/items/tai2.jpg"> </a>
			<figcaption class="info-wrap">
				<a href="/store/taiwan/tai-hotel-2/"  class="title">Hotel Taiwan 2</a>
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>

{% endblock %}